.contenedor {
    display: flex;
    flex-direction: column;
    background: url("./img/background.jpg");
    margin: -8px;
    height: 100vh;
}

.contenedor-buscador {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

input.buscar-localidad {
    display: flex;
    width: 530px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: #ffffffa8;
    padding-left: 20px;
    font-size: 18px;
}

.contendor-logo {
    display: flex;
    padding: 30px;
}

h1.logo {
    display: flex;
    font-size: 25px;
    color: #e8edfc;
    margin-top: 20px;
    margin-left: 10px;
}

img.logo {
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}