.contenedor {
    display: flex;
    flex-direction: column;
    background: url("./img/background.jpg");
    margin: -8px;
    height: 100vh;
}

.input {
    display: flex;
    justify-content: center;
}

.contendor-logo {
    display: flex;
    margin-left: 30px;
}

h1.logo {
    display: flex;
    font-size: 25px;
    color: #e8edfc;
    margin-top: 20px;
    margin-left: 10px;
}

img.logo {
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.temperatura-principal {
    display: flex;
    justify-content: center;
}

p.temperatura-principal {
    display: flex;
    font-size: 90px;
    color: white;
    font-family: helvetica;
    margin-top: 40px;
    margin-bottom: 25px;
}

span.local-time {
    display: flex;
    justify-content: center;
    color: white;
    font-family: helvetica;
    font-size: 15px;
    margin-bottom: 25px;
}