.contenedor {
    display: flex;
    flex-direction: column;
    background: url("./img/background.jpg");
    margin: -8px;
    height: 100vh;
}

.input {
    display: flex;
    justify-content: center;
}

.contendor-logo {
    display: flex;
    margin-left: 30px;
}

h1.logo {
    display: flex;
    font-size: 25px;
    color: #e8edfc;
    margin-top: 20px;
    margin-left: 10px;
}

img.logo {
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.temperatura-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p.temperatura-principal {
    display: flex;
    font-size: 90px;
    color: white;
    font-family: helvetica;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

p.nombre-ciudad {
    color: white;
    font-family: helvetica;
    font-size: 25px;
    display: flex;
    font-weight: bold;
}

span.local-time {
    display: flex;
    justify-content: center;
    color: white;
    font-family: helvetica;
    font-size: 15px;
    margin-bottom: 25px;
}

.clima-semanal {
    display: flex;
    background: #3b69b1a6;
    width: 200px;
    height: 110px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0px 2px 7px #00000036;
}

.temp-min-max {
    display: flex;
}

p.dia-semana {
    display: flex;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    font-weight: bold;
    padding: 5px;
}

p.temperatura-minima {
    display: flex;
    color: white;
    font-size: 17px;
    font-family: helvetica;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.temperatura-maxima {
    display: flex;
    color: white;
    font-size: 17px;
    font-family: helvetica;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contenedor-CimaSemana {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.min-max-hoy {
    display: flex;
    margin-right: 20px;
}

p.min-hoy {
    display: flex;
    color: white;
    font-family: helvetica;
}

p.max-hoy {
    display: flex;
    margin-left: 15px;
    color: white;
    font-family: helvetica;
}